.dropdownContainer {
    position: relative;
}

.dropdown {
    cursor: pointer;
    position: relative;
}

.options {
    margin-top: 24px;
    list-style-type: none;
    visibility: 0;
    opacity: 0;
    width: 160px;
    @include radius(12px, 12px, 12px, 12px);
    
    &.open {
        visibility: visible;
        opacity: 1;
        background-color: $secondary-background;
    }
}

.icon {
    position: absolute;
    top: 25%;
    transition: all 0.3s ease;
}

.openArrow {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}