.dropdownContainer {
    position: relative;
}

.dropdown {
    cursor: pointer;
    position: relative;
}

.options {
    margin-top: 40px;
    position: relative;
    list-style-type: none;
    visibility: 0;
    opacity: 0;
    width: 120px;
    @include radius(12px, 12px, 12px, 12px);
    
    &.open {
        visibility: visible;
        opacity: 1;
        background-color: $secondary-background;
    }
}

.option {
    @include flexDirection(row, center);
    padding: $textPadding;
}

.icon {
    position: absolute;
    top: 25%;
    transition: all 0.3s ease;
}

.openArrow {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.rightArrow {
    transform: rotate(-90deg);

}

.subDropdownDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item {
    height: 10px;
    margin-top: $textmargin;
}

.subDropdown {
    position: absolute;
    bottom: 20px;
    right: -70px;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    width: 0;
    @include radius(12px, 12px, 12px, 12px);
    
    &.openRight {
        visibility: visible;
        opacity: 1;
        background-color: $secondary-background;
        width: auto;
        padding: $textPadding;
    }
}