.hero__section {
    background-color: $main-background;
    position: relative;
    @include xs {
        @include size(100%);
    }
    @include sm {
        @include size(100%);
    }
    @include md {
        @include size(80%);
    }
    @include lg {
        @include size(60%);
    }
    @include xl {
        @include size(60%);
    }
    
}

.video__container {
    width: 100%;
    height: 100%;
    video {
        width: 100%;
        height: 100%;
    }
}

.text__container {
    @include absolutePosition(0, 0);
    
}

.title {
    &%maintitlte {
        @extend.title
    }
}


