.toggleContainer {
    display: inline-block;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.toggleButton{
    position: relative;
    display: inline-block;
    width: rem(30px);
    height: rem(20px);
  }

  .label {
    font-size: rem(16px);
    font-family: $secondFont;
    color: $main-color;
  }
  
  .input {
    width: 0;
    height: 0;
    opacity: 0;
  
    &:checked + .on {
      background-color: $main-color;
    }
  
    &:checked + .on {
      &::before {
        transform: translateX(rem(12px));
      }
    }
  }
  
  .on {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //   right: 0;
    //   bottom: 0;
    background-color: $main-background;
    transition: 0.25s;
    border-radius: rem(30px);
    &::before {
      content: "";
      position: absolute;
      width: rem(14px);
      height: rem(14px);
      left: rem(2px);
      top: rem(3px);
      border-radius: 50%;
      background: $white;
      transition: 0.3s ease-in-out;
    }
  }

  .checkboxContainer {
    width: auto;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }

  .checkDiv {
    position: relative;
    width: 20px;
    height: 20px;
  }

  .checkboxInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    @include radius(100%, 100%, 100%, 100%);
  }

  .checkboxIcon {
    @include absolutePosition(0, 0);
    width: 12px;
    height: 12px;
    
  }

  .checked {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    @include centerAbsolute(0, 0);
  }

  .radioIcon {
    width: 12px;
    height: 12px;
    background-color: $main-color;
    @include radius(100%, 100%, 100%, 100%);
  }



