@mixin flexDirection($value, $align) {
    display: flex;
    flex-direction: $value;
    justify-content: space-around;
    align-items: $align;
    
}

@mixin absolutePosition($top, $right) {
    position: absolute;
    top: $top;
    right: $right;
  }

  @mixin centerAbsolute($xPerc, $yPerc) {
        transform: translateX($xPerc);
        transform: translateY($yPerc);
  }