.navbar__div {
    background-color: $secondary-background;
    @include size(80%);
    position: relative;
    @include xs {
        @include flexDirection(column, start);
      }
    
      @include sm {
        @include flexDirection(column, end);
      }
    
      @include md {
        @include flexDirection(row, start);
      }
    
      @include lg {
        @include flexDirection(row-reverse, end);
      }
    
      @include xl {
        @include flexDirection(row-reverse, start);
      }
    .row {
        @include flexDirection(row, start);
        gap: 12px;
        list-style: none;
        color: $secondary-color;
        font-size: 2rem;
        padding: 12px;
        @include absolutePosition(50px, 60px);
   
    }
}