.navbar__div {
    background-color: $secondary-background;
    @include radius(0, 24px, 0, 24px);
    width: 80%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%);
    @include xs {
        @include flexDirection(row, start);
      }
    
      @include sm {
        @include flexDirection(row, start);
      }
    
      @include md {
        @include flexDirection(row, start);
      }
    
      @include lg {
        @include flexDirection(row, start);
      }
    
      @include xl {
        @include flexDirection(row, start);
      }
    
    .row {
        @include flexDirection(row, start);
        list-style: none;
        font-family: $secondFont;
        color: $secondary-color;
        padding: $divPadding;
        margin-right: $divmargin;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0, 0);
        @include xs {
          @include flexDirection(row, start);
          font-size: rem(12px);
          gap: 12px;
        }
      
        @include sm {
          @include flexDirection(row, start);
          font-size: rem(12px);
          gap: 12px;
        }
      
        @include md {
          @include flexDirection(row, start);
          font-size: rem(16px);
          gap: 16px;
        }
      
        @include lg {
          @include flexDirection(row, start);
          font-size: rem(24px);
          gap:24px;
        }
      
        @include xl {
          @include flexDirection(row, start);
          font-size: rem(24px);
          gap: 24px;
        }
   
    }

}