.top__div {
    background-color: $main-background;
    position: relative;
    @include flexDirection(row, start);
    h1 {
        color: $main-color;
        font-family: $main-font;
        font-size: 6rem;
    }
    p {
        color: $secondary-color;
        font: $tertiary-font;
        font-size: 1.6rem;
        font-weight: 400;
        @include absolutePosition(50%, 200px)
    }
}

