$main-background: #B9C3CF;
$secondary-background: #909795;
$tertiary-background: #DCDEE4;

$black: #000000;
$white: #ffffff;

$main-color: #0ABDC6;
$secondary-color: #133e7c;
$tertiary-color: #bf37d5;
$fourth-color: #ff2a6d;
$fifth-color:#defe47;