.info__section {
    @include size(80%);
    @include flexDirection(row, end);
    @include xs {
        background-color: $main-color;
      }
    
      @include sm {
        background-color: $secondary-color;
      }
    
      @include md {
        background-color: $fourth-color;
      }
    
      @include lg {
        background-color: $tertiary-color;
      }
    
      @include xl {
        background-color: $main-color;
      }
    .vertical__title {
        color: $secondary-color;
       
        font-size: 4rem;
        padding: 12px;
   
    }
    .info__wrapper {
        padding: 12px;
        color: $white;
        
        font-size: 1.6rem;
    }
}
