.info__section {
   
    @include flexDirection(row, end);
    @include xs {
        background-color: $main-color;
        @include size(100%);
      }
    
      @include sm {
        background-color: $secondary-color;
        @include size(100%);
      }
    
      @include md {
        background-color: $fourth-color;
        @include size(100%);
      }
    
      @include lg {
        background-color: $tertiary-color;
        @include size(100%);
      }
    
      @include xl {
        background-color: $main-color;
        @include size(100%);
      }
    .vertical__title {
        color: $white;
        font-family: $thirdFont;
        font-size: 4rem;
        padding: 12px;
   
    }
    .info__wrapper {
        padding: 12px;
        color: $white;
        font-size: 1.6rem;
    }
    
}
